
.shell {
  max-width: 1180px;
  margin: 0 auto;
  height: calc(100svh - 50px);   
  display: flex;
  flex-direction: column;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 26px 0 18px;
    flex-wrap: wrap;
}

@media (orientation: landscape) and (max-height: 600px) {
  .controls { margin: 8px 0; gap: 10px; }
}